[submodule "Extern/imgui"]
	path = Extern/imgui
	url = https://github.com/TheGondos/imgui.git
[submodule "Addons/XRVessels"]
	path = Addons/XRVessels
	url = https://github.com/TheGondos/XRVessels.git
[submodule "OVP/OGLClient/SOIL2"]
	path = OVP/OGLClient/SOIL2
	url = https://github.com/TheGondos/SOIL2.git
[submodule "Addons/NASSP"]
	path = Addons/NASSP
	url = https://github.com/TheGondos/NASSP.git
[submodule "Addons/G42-200"]
	path = Addons/G42-200
	url = https://github.com/TheGondos/G42-200.git
[submodule "Addons/UCSO"]
	path = Addons/UCSO
	url = https://github.com/TheGondos/UCSO.git
[submodule "Addons/Deepstar"]
	path = Addons/Deepstar
	url = https://github.com/TheGondos/Deepstar.git
[submodule "Extern/libnsbmp"]
	path = Extern/libnsbmp
	url = https://github.com/TheGondos/libnsbmp.git
[submodule "OVP/OGLClient/nanovg"]
	path = OVP/OGLClient/nanovg
	url = https://github.com/TheGondos/nanovg.git

[submodule "Extern/imgui-node-editor"]
	path = Extern/imgui-node-editor
	url = https://github.com/TheGondos/imgui-node-editor.git
[submodule "Extern/imgui-notify"]
	path = Extern/imgui-notify
	url = https://github.com/TheGondos/imgui-notify.git
[submodule "Extern/md4c"]
	path = Extern/md4c
	url = https://github.com/mity/md4c.git
[submodule "Extern/imgui_md"]
	path = Extern/imgui_md
	url = https://github.com/TheGondos/imgui_md.git
[submodule "Extern/SDL_GameControllerDB"]
	path = Extern/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
[submodule "Extern/imgui-knobs"]
	path = Extern/imgui-knobs
	url = https://github.com/altschuler/imgui-knobs.git
[submodule "Addons/Orb42S"]
	path = Addons/Orb42S
	url = https://github.com/TheGondos/Orb42S.git
[submodule "Addons/DarkEnergy-Spaceplane"]
	path = Addons/DarkEnergy-Spaceplane
	url = git@github.com:TheGondos/DarkEnergy-Spaceplane.git
[submodule "Addons/Better-ISS"]
	path = Addons/Better-ISS
	url = git@github.com:TheGondos/Better-ISS.git
[submodule "Addons/Ion6"]
	path = Addons/Ion6
	url = git@github.com:TheGondos/Ion6.git
[submodule "Addons/SSRMS"]
	path = Addons/SSRMS
	url = git@github.com:TheGondos/SSRMS.git
[submodule "Addons/Ion4"]
	path = Addons/Ion4
	url = git@github.com:TheGondos/Ion4.git
