[submodule "Extern/imgui"]
	path = Extern/imgui
	url = https://github.com/TheGondos/imgui.git
[submodule "Addons/XRVessels"]
	path = Addons/XRVessels
	url = https://github.com/TheGondos/XRVessels.git
[submodule "OVP/OGLClient/SOIL2"]
	path = OVP/OGLClient/SOIL2
	url = https://github.com/TheGondos/SOIL2.git
[submodule "Addons/NASSP"]
	path = Addons/NASSP
	url = https://github.com/TheGondos/NASSP.git
[submodule "Addons/G42-200"]
	path = Addons/G42-200
	url = https://github.com/TheGondos/G42-200.git
[submodule "Addons/UCSO"]
	path = Addons/UCSO
	url = https://github.com/TheGondos/UCSO.git
[submodule "Addons/Deepstar"]
	path = Addons/Deepstar
	url = https://github.com/TheGondos/Deepstar.git
[submodule "Extern/libnsbmp"]
	path = Extern/libnsbmp
	url = https://github.com/TheGondos/libnsbmp.git
[submodule "OVP/OGLClient/nanovg"]
	path = OVP/OGLClient/nanovg
	url = https://github.com/TheGondos/nanovg.git

[submodule "Extern/imgui-node-editor"]
	path = Extern/imgui-node-editor
	url = https://github.com/TheGondos/imgui-node-editor.git
